.custom-logo {
  width: 100% !important;
  height: 100% !important;
  margin: auto 0;
}

.header__container {
  display: flex;
  justify-content: space-between;
  height: 50px;
  margin: 20px 0;
}

.searchform {
  margin: auto 100px;
  width: 100%;
}

.searchform .screen-reader-text,
#searchsubmit {
  display: none;
}

#s {
  width: 100%;
  height: 40px;
  border: 2px solid #888;
  border-radius: 60px;
  background: url("../img/search.png") no-repeat 10px center;
  background-size: auto 70%;
  padding-left: 50px;
  font-size: 20px;
}

.searchform #searchsubmit:hover {
  cursor: pointer;
  width: 55px;
  height: 55px;
}

.services-navigation {
  margin: auto 0;
}

.services-navigation__list {
  display: flex;
}

.services-navigation__list i {
  margin-left: 20px;
  transition: 0.3s;
}

.header-navigation__list {
  display: flex;
}

.header-navigation__list a {
  color: #000;
  font-size: 24px;
  font-family: "Montserrat", sans-serif;
}
