*,
body {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

.wrapper {
  max-width: 1400px;
  margin: 0 auto;
}

.header__container {
  display: flex;
  height: 50px;
}

.services-navigation__list {
  display: flex;
}

.header-navigation__list {
  display: flex;
}
